* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    overflow-x: hidden;
}

.header { padding: 100px 20px; }

h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: clamp(3rem, 10vw, 5rem);
    color: #D4AF37;
    letter-spacing: 15px;
}

.gold-line {
    width: 80px;
    height: 2px;
    background-color: #D4AF37;
    margin: 30px auto;
}

.subtitle {
    letter-spacing: 5px;
    opacity: 0.7;
    font-weight: 300;
}

.showcase {
    display: flex;
    flex-direction: column;
    gap: 120px;
    padding-bottom: 100px;
}

.product-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FOCO TOTAL NA IMAGEM GIGANTE */
.product-card img {
    width: 90%;
    max-width: 650px;
    height: auto;
    filter: drop-shadow(0 0 25px rgba(212, 175, 55, 0.2));
    transition: transform 0.8s ease;
}

.product-card:hover img {
    transform: scale(1.05);
}

h3 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.5rem;
    color: #D4AF37;
    margin: 40px 0 25px;
    letter-spacing: 3px;
}

.luxury-btn {
    display: inline-block;
    padding: 18px 60px;
    border: 2px solid #D4AF37;
    color: #D4AF37;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 4px;
    transition: 0.4s;
}

.luxury-btn:hover {
    background-color: #D4AF37;
    color: #000;
}
